@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <p>



        SeamHead is a software that intends to add another layer of analysis to sports.
        I find a lack of context in the way we analyze players. Judging people based on awards and stats at face value can give you part of a story, but without the context of those awards or stats, the full story will never appear.
        This tool was created with the intention of providing context and reasoning to common analytical benchmarks in order to be as accurate and consistent as possible.

        Hope you enjoy!!.
    </p>
